@import "bootstrap/dist/css/bootstrap.min.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  height: 100vh;
  overflow: scroll;
  // background: url('./assets/bg.jpg') center / cover no-repeat;
}
.content {
  display: grid;
  grid-template-columns: 500px 450px;
  max-width: 1040px;
  margin: 0 auto;
  padding-top: 50px;
  &__page {
    padding-left: 40px;
  }
}